.row {
  background-color: #111;
  color: white;
  padding-left: 20px;
}

.title {
  padding: 10px 0 0 10px;
  font-size: 1.2rem;
}

.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.posters::-webkit-scrollbar {
  display: none;
}

.poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.poster:hover {
  transform: scale(1.08);
}

.large {
  max-height: 250px;
}

.large:hover {
  transform: scale(1.09);
}